
@{
    ViewBag.Title = "基本資料管理/發表心願";
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}


<div style="width:100%; margin:0 auto" class="tablecontainer">
    <table id="DatatableList" class="table table-bordered  display dt-responsive nowrap">
        <thead>
            <tr>
                <th>
                    <a class="popup" title="新增記錄" href="/Member/HeartDetail/Edit/0"><i class="fas fa-plus fa-2x"></i></a>
                </th>
                
                <th>標題</th>
                <th>產品名稱</th>
                <th>敘述</th>
                <th>產品網址</th>
                <th>期限日期</th>
                <th>登記日期</th>
                <th>優惠資訊</th>
                <th class="d-none">是否審核</th>
                

            </tr>
        </thead>
    </table>
</div>

<script src="@Url.Content("~/Scripts/apps/Member/heartdetail_index.js")"></script>

